@import url("../style.css");
html {
    margin: 0;
}

body , nav button , .canvas{
    transition: all 0.5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
}

#grey {
    background: grey;
}

#white {
    background: white;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}

#red {
    background: red;
}

#brown {
    background: brown;
}